*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
  
  .map svg {
    height: auto;
    width: 550px;
    margin: 0 auto;
    display: block;
  }
  
  .map path {
    fill: #FFFFFF;
    stroke: #4285f4;
    stroke-width: 2;
  }
  
  .map path:hover {
    fill: #fbbc05 !important;
    stroke: #fbbc05 !important;
    cursor: help;
  }
  
  .map-popup{
    background: rgba(255,255,255,.9);
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      display: none;
  }
  
  .map-popup.active {
    display: block;
  }
  
  .popup-content{
      max-width: 500px;
      background: #FFFF;
      height: fit-content;
      margin: auto;
      position: relative;
      top: 30%;
      box-shadow: 0px 0px 30px -3px #CCC;
      border: 1px solid #DDD;
      text-align: center;
      padding: 50px;
  }

  .popup-content h1 {
      font-size: 42px;
      font-weight: normal;
      padding: 0px 0px 24px;
  }
  
  .map-popupclose {
    background: #001;
    display: inline-block;
    color: #FFF;
    padding: 5px 12px;
    border-radius: 50px;
    font-size: 12px;
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  @media(max-width: 767px){
      .popup-content {
          max-width: 70%;
      }

      .map svg{
          width: 300px;
      }
  }