*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.map-section {
  padding: 50px;
  overflow: hidden;
}

.map {
  position: relative;
  position: absolute;
  animation: zoomIn .5s ease-in-out;
  left: 0px;
  right: 0px;
  margin: auto;
}

.map.active {
  animation: zoomout .5s ease-in-out;
  transform: scale(0);
}

@keyframes zoomout {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
  
  .map svg {
    height: auto;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: block;
  }

  .districtmap {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
  }

  .map path, .districtmap path  {
    fill: #FFFFFF;
    stroke: #4285f4;
    stroke-width: 2;
    cursor: pointer;
  }

  .district-list {
    display: none;
  }

  .district-list.active {
    display: block;
    animation: zoomIn 1s ease-in-out;
    transform: scale(1);
  }

  .district-list svg {
    width: 500px;
    height: 500px;
  }
  
  .map path:hover, .districtmap path:hover   {
    fill: #64dfdf !important;
    stroke: #64dfdf !important;
    cursor: pointer !important;
  }
  
  .map-popup{
    background: rgba(255,255,255,.9);
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      display: none;
  }
  
  .map-popup.active {
    display: block;
  }
  
  .popup-content{
      max-width: 500px;
      background: #FFFF;
      height: fit-content;
      margin: auto;
      position: relative;
      top: 30%;
      box-shadow: 0px 0px 30px -3px #CCC;
      border: 1px solid #DDD;
      text-align: center;
      padding: 50px;
  }

  .popup-content h1 {
      font-size: 42px;
      font-weight: normal;
      padding: 0px 0px 24px;
  }

  .map-popupclose {
    background: #001;
    display: inline-block;
    color: #FFF;
    padding: 5px 12px;
    border-radius: 50px;
    font-size: 12px;
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .tooltip {
    position: absolute;
    background: rgba(255,255,255,.9);
    box-shadow: 1px 1px 15px #CCC;
    padding: 24px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    display: none;
  }

  .tooltip.active {
    display: block;
  }

  .tooltip h2 {
    font-size: 18px;
    padding-bottom: 10px;
    color: #666666;
  } 

  .tooltip p {
    font-size: 14px;
    color: #666666;
  }

  .back-btn {
    cursor: pointer;
    display: inline-block !important;
  }

  .hide-breadcrumbs {
    display: none;
  }

  .title-bar {
    background: #f9f9f9;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: all .5s ease-out;
    z-index: 99;
  }
  
  .title-bar.active {
    top: 0px;
    transition: all .5s ease-in;
  }

  .breadcrumbs {
    padding-left: 10px;
  }

  .breadcrumbs span{
    font-size: 16px;
    font-weight: normal;
    margin: 0px 6px;
    color: #666666;  
  }

  .title-bar.active .back-btn,  .title-bar.active .hide-breadcrumbs{
    display: inline-block !important;
  }

  @media(max-width: 767px){
      .popup-content {
          max-width: 70%;
      }

      .map svg, .district-list svg{
          width: 300px;
          height: 300px;
      }
  }



  